.form {
    display: flex;
    flex-direction: column;

    .inputError {
        border-color: red;

        &::placeholder {
            color: red;
        }
    }

    small {
        color: red;
    }
}

.cursor-pointer {
    cursor: pointer;
}